$colors: (
  primary: #409eff,
  success: #67c23a,
  info: #909399,
  warning: #e6a23c,
  error: #f56c6c
);
$heights: (
  small: 24px,
  default: 32px,
  large: 40px
);
$size: (
  small: 12px,
  default: 14px,
  large: 16px
);